<div class="container-fluid bg-1 text-left" id="intro">
    <h3>This is Me.</h3>
    <img class="rounded-circle float-left" id="_image" src="https://www.thispersondoesnotexist.com/image"
        alt="Italian Trulli" />
    <div class="jumbotron jumbotron-fluid">
        <h1>{{aboutmes$[0].title}}</h1>
        <p>{{aboutmes$[0].description}}</p>
    </div>
    <div  id="myTextOfMe">
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{aboutmes$[0].contAbout}}</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

    </div>
</div>