<nav class="vertical-nav bg-white" id="sidebar">
    <div class="nav-buttons">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-center">
          <a href="#" routerLink="/about-me">
            <button type="button" class="btn btn-secondary">
              <i class="far fa-address-card"></i><b>About me</b>
            </button>
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-center">
          <a href="#" routerLink="/projects">
            <button type="button" class="btn btn-secondary">
              <i class="fas fa-code-branch"></i><b>Projects</b>
            </button>
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-center">
          <a href="#" routerLink="/my-goals">
            <button type="button" class="btn btn-secondary">
              <i class="fas fa-tasks"></i><b>Goals</b>
            </button>
          </a>
        </li>
        <li class="list-group-item d-flex justify-content-center">
          <a href="#" routerLink="/contact">
            <button type="button" class="btn btn-secondary">
              <i class="far fa-envelope-open"></i><b>Contact</b>
            </button>
          </a>
        </li>
        <!--<li class="list-group-item d-flex justify-content-center">
          <button class="btn btn-secondary">
              <i class="fas fa-search"></i><b>Search</b>
          </button>
      </li>-->
      </ul>
    </div>
  </nav>