.vertical-nav{
    float: left;
    height: 100vh;
  }
  .nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .vertical-nav li{
    width: 150px;
  }
  .vertical-nav button{
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  
  .vertical-nav button:hover i{
    display: none;
  }
  .vertical-nav button:hover b{
    display: block;
    font-size: 11px;
  }
  .vertical-nav button:hover{
      width: 100%;
      height: 100%;
  }
  .vertical-nav b{
    display: none;
    margin: 0;
  }
  .row{
    margin: 0;
  }
  
  @media screen and (max-width: 575px){
    .vertical-nav{
      /* display: inline; */
      float: unset;
      height: unset;
    }
    .vertical-nav ul{
        width: 100%;
    }
    .vertical-nav li{
        padding: 0 5px;
    }
    .row{
      padding-top: 1%;
    }
    .vertical-nav b{
        display: block;
        font-size: 9px;
    }
    .vertical-nav button{
        padding: 3px 5px;
        height: 100%;
        width: 100%;
    }
    .vertical-nav button:hover i{
        display: unset;
    }
      .vertical-nav button:hover b{
        display: unset;
    }
  }