footer{
  height: 5VH;
  bottom: 0;
}

@media screen and (max-width: 1115px){
  .vertical-nav button:hover{
    font-size: 15px;
  }   
  .vertical-nav button{
    font-size: 15px;
  }
  .vertical-nav {
    height: 100vh;
  }
  .vertical-nav li{
    width: 120px;
  }
  #foot {
    max-width: 760px;
  }
}
@media screen and (max-width: 885px){
  #foot {
    max-width: 600px;
  }
}

@media screen and (max-width: 575px){
  .vertical-nav{
    display: inline;
    float: unset;
    border-right: unset;
    height: 5vh;
  }
  footer{
    margin-top: 5px;
  }
  .vertical-nav ul{
      width: 100%;
  }
  .vertical-nav li{
      padding: 0 5px;
  }
  .row{
    padding-top: 1%;
  }
  .vertical-nav b{
      display: block;
      font-size: 9px;
  }
  .vertical-nav button{
      padding: 3px 5px;
      height: 100%;
      width: 100%;
  }
  .vertical-nav button:hover i{
      display: unset;
  }
    .vertical-nav button:hover b{
      display: unset;
  }
  #foot {
    max-width: 99%;
  }
}

svg path {
  fill: white
}

svg :hover path {
  fill: cadetblue;
}

.icon {
  background-color: black;
  border-radius: 50%;
  margin: 0 3px;
}

.icon :hover{
  background-color: darkcyan;
  border-radius: 50%;
  transition-property: background-color border-radius;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}
