@import url('https://fonts.googleapis.com/css?family=Audiowide');

._name{
    font-family: "Audiowide";
    font-size: 80px;
}

#planets{
    flex: none;
    height: 95vh;
}

.balls {
    z-index: 0;
    transform: translateX(19vw);
}

@media screen and (max-width: 990px){
    ._name {
        font-size: 65px;
    }
    #planets{
        height: 85vh;
    }
    .balls {
        transform: translateY(550%);
    }   
}

@media screen and (max-width: 575px){
    ._name {
        font-size: 40px;
    }
    .balls {
        transform: translateX(0px);
        transform: translateY(550%);
    }   
}