<div class="d-lg-flex align-items-center" id="planets">
    <p class="_name" style="color:whitesmoke;">Hello I am :<br> Harry</p>
    <div class="balls d-flex align-items-center justify-content-center">
        <div class="sun">
            <div class="ball"></div>
        </div>
        <div id="ball-1">
            <div class="ball"></div>
        </div>
        <div id="ball-2">
            <div class="ball"></div>
        </div>
        <div id="ball-3">
            <div class="ball"></div>
        </div>
        <div id="ball-4">
            <div class="ball"></div>
        </div>
        <div id="ball-5">
            <div class="ball"></div>
        </div>
        <div id="ball-6">
            <div class="ball"></div>
        </div>
    </div>
</div>